.body {
  font-family: "Open Sans", sans-serif;
  margin: 24px;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bity-svg {
  width: 100px;
  height: 40px;
  background: url("images/bity.svg") no-repeat center center;
}

/*

   LINKS
   Docs: http://tachyons.io/docs/elements/links/

*/

.link {
  text-decoration: none;
  transition: color 0.15s ease-in;
  color: #0161ff;
}

.link:link,
.link:visited {
  transition: color 0.15s ease-in;
}
.link:hover {
  transition: color 0.15s ease-in;
}
.link:active {
  transition: color 0.15s ease-in;
}
.link:focus {
  transition: color 0.15s ease-in;
  outline: 1px dotted currentColor;
}
