.body {
    font-family: "Open Sans", sans-serif;
    margin: 24px;
}

.bity-svg {
    width: 100px;
    height: 40px;
    background: url("images/bity.svg") no-repeat center center;
}

.terms-container {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.terms_md-wrapper {
    height: 350px;
    overflow-y: scroll;
}

.terms_md-wrapper::after {
    content: '';
    position: absolute;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) -85%, #FFFFFF 100%);
    width: 100%;
    height: 40px;
    bottom: 205px;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
}

.checkbox {
    width: 19px;
    height: 19px;
    left: 24px;
    margin-right: 8px;

    background: transparent;
    border: 2px solid #000000;
    border-radius: 4px;
}

.checkbox-label {
    display: inline;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

 
.button, .buttonBlue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 24px;
    margin-bottom: 24px;
    font-weight: 600;

    width: 288px;
    height: 56px;

    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.button {
    border: 2px solid #121726;
    background-color: transparent;
}

.buttonBlue {
    background: #0062FF;
    color: white;
}

@media only screen and (min-width: 768px) and (min-height: 500px)  {
    .terms-container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 650px;
        padding: 24px;
    }

    .terms_md-wrapper {
        height: 400px;
    }

    .terms_md-wrapper::after {
        bottom: 150px;
    }
}

@media (max-height: 500px) {
    .terms_md-wrapper {
        height: 180px;
    }

    .terms_md-wrapper::after {
        bottom: 130px;
    }
}

@media only screen and (min-width: 768px) {
    .buttons-wrapper {
        flex-direction: row;
    }
}